// Import scss
@import './mixins';

// Import
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

// Keyframes
@keyframes aniBear {
    from {
        top: 28px;
    }
    to {
        top: 40px;
    }
}
@keyframes aniBearMini {
    from {
        top: 14px;
    }
    to {
        top: 20px;
    }
}
@keyframes aniShake {
    0%,
    4%,
    8%,
    12%,
    16%,
    100% {
        transform: rotate(0deg);
    }
    6%,
    14% {
        transform: rotate(-3deg);
    }
    2%,
    10% {
        transform: rotate(3deg);
    }
}

// Styly
body {
    background-color: #8cc8e4;
}
img {
    user-select: none;
    image-rendering: pixelated;
}
noscript > div {
    display: block;
    font-size: xx-large;
    color: #ff0000;
    background-color: #ffff00;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    text-align: center;
}
.grid {
    margin: 22px 75px;
    display: grid;
    justify-items: center;
    align-items: end;
    justify-content: center;
    gap: 22px 75px;
    grid-template-columns: repeat(8, 164px);
}
.mainPhoto {
    grid-column: 1 / -1;
    width: 100%;
    max-width: 914px;
}
.photos {
    position: relative;
    width: 164px;
    height: 218px;

    > img {
        position: absolute;
        bottom: 0;
        width: 164px;
        height: 208px;
    }

    > div.bookmark {
        position: absolute;
        top: 0;
        right: 8px;
        background-color: #ffffd9;
        width: 36px;
        height: 8px;
        border: 2px solid #47159d;
        border-top-left-radius: 4px;
        border-bottom: none;
    }

    > img.shake {
        @include animation(
            $name: aniShake,
            $duration: 3s,
            $delay: 1s,
            $iteration-count: infinite,
            $timing-function: linear
        );
    }

    > div.hide {
        display: none;
    }

    &:hover .page {
        transform: scale(1);
    }
}
.page {
    position: absolute;
    width: 280px;
    height: 232px;
    border-radius: 5px;
    border: 2px solid #494930;
    left: -60px;
    bottom: -8px;
    background-color: #ffffd9;
    transform: scale(0, 1);
    z-index: 1;
    box-shadow: 0px 0px 10px #000000;
    @include transition($property: all, $duration: 0.2s, $timing-function: ease-in-out);

    > img {
        width: 128px;
        height: 220px;
        @include transition($property: all, $duration: 0.2s);
    }

    .firstBear,
    .secondBear {
        width: 30px;
        position: absolute;
        top: 28px;
        z-index: 1;
        @include animation(
            $name: aniBear,
            $duration: 2s,
            $iteration-count: infinite,
            $direction: alternate,
            $timing-function: linear
        );
    }
    .firstBear {
        height: 38px;
        left: 116px;
    }
    .secondBear {
        height: 40px;
        right: -12px;
    }
}
.pekora > img {
    height: 222px;
}
.first,
.second {
    position: absolute;
    bottom: 6px;
}
.first {
    left: 6px;
}
.second {
    right: 6px;
}
footer {
    grid-column: 1 / -1;
    justify-self: stretch;
    text-align: center;

    @include flex-conteiner($justify-content: space-evenly);

    font-family: 'Roboto Mono', monospace;

    a {
        color: #0000ee;
        text-decoration: none;
    }

    a:hover {
        color: #0000aa;
        text-decoration: underline;
    }

    i {
        height: 0.9rem;
        color: #ffffff;
        display: inline-block;
        margin-left: 3px;
    }
}
@media screen and (max-width: 1987px) {
    .grid {
        grid-template-columns: repeat(auto-fill, 164px);
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 960px) {
    footer {
        flex-direction: column;
        align-items: center;
        line-height: 1.75em;
    }
}
@media screen and (max-width: 584px) {
    .grid {
        margin: 11px 37px;
        gap: 11px 37px;
        grid-template-columns: repeat(auto-fill, 82px);
    }
    .photos {
        width: 82px;
        height: 109px;

        > img {
            position: absolute;
            bottom: 0;
            width: 82px;
            height: 104px;
        }

        > div.bookmark {
            position: absolute;
            top: 0;
            right: 4px;
            background-color: #ffffd9;
            width: 18px;
            height: 4px;
            border: 1px solid #47159d;
            border-top-left-radius: 2px;
            border-bottom: none;
        }
    }
    .page {
        width: 140px;
        height: 116px;
        border-radius: 3px;
        border-width: 1px;
        left: -30px;
        bottom: -4px;
        box-shadow: 0px 0px 5px #000000;

        > img {
            width: 64px;
            height: 110px;
        }

        .firstBear,
        .secondBear {
            top: 14px;
            width: 15px;
            animation-name: aniBearMini;
        }
        .firstBear {
            height: 19px;
            left: 58px;
        }
        .secondBear {
            height: 20px;
            right: -6px;
        }
    }
    .pekora > img {
        height: 111px;
    }
    .first,
    .second {
        bottom: 3px;
    }
    .first {
        left: 3px;
    }
    .second {
        right: 3px;
    }
    footer {
        font-size: 0.75em;
    }
}
